body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}